annotated-types
anthropic
anyio
boto3
botocore
certifi
charset-normalizer
click
distro
fastapi
filelock
fsspec
generated_text_detector @ git+https://github.com/superannotateai/generated_text_detector.git@v1.0.0
h11
hf-xet
httpcore
httpx
huggingface-hub
idna
Jinja2
jiter
jmespath
joblib
jsonpatch
jsonpointer
langchain-anthropic
langchain-core
langchain-openai
langsmith
MarkupSafe
mpmath
networkx
nltk
numpy<2
openai
orjson
packaging
pandas
pydantic
pydantic_core
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
requests-toolbelt
s3transfer
safetensors
scikit-learn
scipy
setuptools
six
sniffio
starlette
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
torch
tqdm
transformers
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
zstandard
